doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

    include head.pug

    body
      include modules/header.pug
      block content
      
      include modules/footer.pug
      //- include scripts.pug
